.footer {
  max-width: 64rem; /* 1024px */
  margin: 4rem auto 0;
  padding: 3rem 1rem;
  border-top: 1px solid rgba(226, 232, 240, 0.5);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

@media (min-width: 768px) {
  .wrapper {
    flex-direction: row;
  }
}

.text {
  font-size: 0.875rem;
  color: var(--slate-500);
  font-weight: 700;
  text-align: center;
}

@media (min-width: 768px) {
  .text {
    text-align: left;
  }
}

.socialGroup {
  display: flex;
  gap: 1rem;
}

.tile {
  width: 3rem;
  height: 3rem;
  border-radius: 1rem;
  color: var(--slate-700);
  text-decoration: none;
}
